/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;




html body{
        background-size: cover;
        background-repeat: no-repeat;
        background-image: url("todd-diemer-67t2GJcD5PI-unsplash.jpg");
         min-height: 100vh;
    }
html.dark body{
    background-image: url("lucas-calloch-P-yzuyWFEIk-unsplash.jpg");
}