/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
        background-size: cover;
        background-repeat: no-repeat;
        background-image: url("lucas-calloch-P-yzuyWFEIk-unsplash.jpg");
        min-height: 100vh;
    }


